[submodule "plugged/Apprentice"]
	path = plugged/Apprentice
	url = https://github.com/romainl/Apprentice.git
[submodule "plugged/coc.nvim"]
	path = plugged/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "plugged/indentLine"]
	path = plugged/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "plugged/tabular"]
	path = plugged/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "plugged/vim-abolish"]
	path = plugged/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "plugged/vim-bbye"]
	path = plugged/vim-bbye
	url = https://github.com/moll/vim-bbye.git
[submodule "plugged/vim-commentary"]
	path = plugged/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "plugged/vim-cool"]
	path = plugged/vim-cool
	url = https://github.com/romainl/vim-cool.git
[submodule "plugged/vim-dirvish-git"]
	path = plugged/vim-dirvish-git
	url = https://github.com/kristijanhusak/vim-dirvish-git.git
[submodule "plugged/vim-dirvish"]
	path = plugged/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish.git
[submodule "plugged/vim-dispatch"]
	path = plugged/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "plugged/vim-eunuch"]
	path = plugged/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "plugged/vim-fugitive"]
	path = plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "plugged/vim-hardtime"]
	path = plugged/vim-hardtime
	url = https://github.com/takac/vim-hardtime.git
[submodule "plugged/vim-javascript-snippets"]
	path = plugged/vim-javascript-snippets
	url = https://github.com/grvcoelho/vim-javascript-snippets.git
[submodule "plugged/vim-jsdoc"]
	path = plugged/vim-jsdoc
	url = https://github.com/heavenshell/vim-jsdoc.git
[submodule "plugged/vim-livedown"]
	path = plugged/vim-livedown
	url = https://github.com/shime/vim-livedown.git
[submodule "plugged/vim-mundo"]
	path = plugged/vim-mundo
	url = https://github.com/simnalamburt/vim-mundo.git
[submodule "plugged/vim-peekaboo"]
	path = plugged/vim-peekaboo
	url = https://github.com/junegunn/vim-peekaboo.git
[submodule "plugged/vim-polyglot"]
	path = plugged/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "plugged/vim-repeat"]
	path = plugged/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "plugged/vim-rhubarb"]
	path = plugged/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "plugged/vim-rooter"]
	path = plugged/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule "plugged/vim-sensible"]
	path = plugged/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "plugged/vim-signify"]
	path = plugged/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "plugged/vim-sleuth"]
	path = plugged/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "plugged/vim-snippets"]
	path = plugged/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "plugged/vim-surround"]
	path = plugged/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "plugged/vim-tmux-focus-events"]
	path = plugged/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events.git
[submodule "plugged/vim-tmux-navigator"]
	path = plugged/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
