[submodule "pack/main/start/vim-commentary"]
	path = pack/main/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/main/start/vim-eunuch"]
	path = pack/main/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "pack/main/start/vim-fugitive"]
	path = pack/main/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/main/start/vim-repeat"]
	path = pack/main/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/main/start/vim-surround"]
	path = pack/main/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/main/start/nvim-lspconfig"]
	path = pack/main/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "pack/main/start/nvim-treesitter"]
	path = pack/main/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "pack/main/start/formatter.nvim"]
	path = pack/main/start/formatter.nvim
	url = https://github.com/mhartington/formatter.nvim
[submodule "pack/main/start/nvim-colorizer.lua"]
	path = pack/main/start/nvim-colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua
[submodule "pack/main/start/CommandlineComplete.vim"]
	path = pack/main/start/CommandlineComplete.vim
	url = https://github.com/j5shi/CommandlineComplete.vim
[submodule "pack/main/start/vim-dirvish"]
	path = pack/main/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule "pack/main/opt/vim-moonfly-colors"]
	path = pack/main/opt/vim-moonfly-colors
	url = https://github.com/bluz71/vim-moonfly-colors
