[submodule "pack/main/start/vim-commentary"]
	path = pack/main/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/main/start/vim-eunuch"]
	path = pack/main/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "pack/main/start/vim-fugitive"]
	path = pack/main/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/main/start/vim-repeat"]
	path = pack/main/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/main/start/vim-surround"]
	path = pack/main/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/main/start/nvim-lspconfig"]
	path = pack/main/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "pack/main/start/nvim-treesitter"]
	path = pack/main/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "pack/main/start/nvim-colorizer.lua"]
	path = pack/main/start/nvim-colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua
[submodule "pack/main/start/CommandlineComplete.vim"]
	path = pack/main/start/CommandlineComplete.vim
	url = https://github.com/j5shi/CommandlineComplete.vim
[submodule "pack/main/start/vim-dirvish"]
	path = pack/main/start/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule "pack/main/start/telescope.nvim"]
	path = pack/main/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "pack/main/start/plenary.nvim"]
	path = pack/main/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "pack/main/start/popup.nvim"]
	path = pack/main/start/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim
[submodule "pack/main/start/vim-floaterm"]
	path = pack/main/start/vim-floaterm
	url = https://github.com/voldikss/vim-floaterm
[submodule "pack/main/start/telescope-fzy-native.nvim"]
	path = pack/main/start/telescope-fzy-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzy-native.nvim
[submodule "pack/main/start/nvim-web-devicons"]
	path = pack/main/start/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons
[submodule "pack/main/start/lsp-trouble.nvim"]
	path = pack/main/start/lsp-trouble.nvim
	url = https://github.com/folke/lsp-trouble.nvim
[submodule "pack/main/opt/tokyonight.nvim"]
	path = pack/main/opt/tokyonight.nvim
	url = https://github.com/folke/tokyonight.nvim
[submodule "pack/main/start/lualine.nvim"]
	path = pack/main/start/lualine.nvim
	url = https://github.com/hoob3rt/lualine.nvim
[submodule "pack/main/start/nvim-compe"]
	path = pack/main/start/nvim-compe
	url = https://github.com/hrsh7th/nvim-compe
[submodule "pack/main/start/vim-vsnip"]
	path = pack/main/start/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip
[submodule "pack/main/start/friendly-snippets"]
	path = pack/main/start/friendly-snippets
	url = https://github.com/rafamadriz/friendly-snippets
[submodule "pack/main/start/nvim-bqf"]
	path = pack/main/start/nvim-bqf
	url = https://github.com/kevinhwang91/nvim-bqf
[submodule "pack/main/start/nvim-jqx"]
	path = pack/main/start/nvim-jqx
	url = https://github.com/gennaro-tedesco/nvim-jqx
[submodule "pack/main/start/diffview.nvim"]
	path = pack/main/start/diffview.nvim
	url = https://github.com/sindrets/diffview.nvim
[submodule "pack/main/start/lsp_signature.nvim"]
	path = pack/main/start/lsp_signature.nvim
	url = https://github.com/ray-x/lsp_signature.nvim
